node_modules/
dist/
output/
.data/
coverage/
*.tsbuildinfo
experiments/

webapp/app/algo.mjs
webapp/app/algo.mjs.map
webapp/app/algo.worker.mjs
webapp/app/algo.worker.mjs.map
webapp/app/styles.css
webapp-deploy/
minitool-dist/
minitool/assets/algo.js
minitool/assets/algo.worker.js
